$accent: #a3bbc8;
$title: #191919;
$bg: #fef7f0;
$bg2: #edf1f4;

%rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}

%dm-sans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dm-sans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dm-sans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%filter-buttons {
  border: none;
  padding: 0;
  background-color: transparent;
  @extend %dm-sans-700;
  font-size: 16px;
  line-height: auto;
  color: #8b8b8b;
  cursor: pointer;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}